@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Bitter");

:root {
  --purple: rgb(96, 0, 193);
  --pink: rgb(255, 0, 183);
  --darkpurple: #3e056d;
  --mutedpurple: #c5a6de;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: rgba(253, 244, 255, 0.9);
}

.Nav {
  background: rgb(96, 0, 193);
  background: linear-gradient(
    41deg,
    rgba(96, 0, 193, 1) 0%,
    rgba(255, 0, 183, 1) 100%
  );
}

.nav-title {
  font-family: "Bitter", serif !important;
  color: #fff;
  margin-left: 1rem;
  padding-top: 0.5rem;
}

.nav-icon {
  margin-left: 1rem;
}

.post-list,
.comment-list {
  list-style: none;
}

.card {
  border: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.28);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.28);
}

.card-link {
  color: var(--pink);
}

.card-title {
  color: var(--darkpurple);
  font-size: 1.2rem;
}

.add-post-title {
  color: var(--darkpurple);
}

.text-muted {
  color: var(--mutedpurple) !important;
}

.vote {
  font-size: 1.5rem;
}

.btn-outline-primary {
  color: var(--purple);
  border-color: var(--purple);
}

.btn-outline-primary:hover {
  background-color: var(--purple) !important;
  border-color: var(--purple) !important;
}

.AddComment {
  margin-left: calc(6rem + 2px);
}

a:hover {
  text-decoration: none !important;
}

input[name="category"] {
  display: inline-block !important;
  width: initial;
}
